/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; // Many screen reader and browser combinations announce broken words as they would appear visually.

	&:focus {
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		clip-path: none;
		display: block;
		font-size: 0.875rem;
		font-weight: 700;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; // Above WP toolbar.
	}
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

// SKIP TO CONTENT
#primary {
	background: #e77e23;
	//height: 30px;
	left: 50%;
	padding: 8px;
	position: absolute;
	display: flex;
	transform: translateY(-100%);
	transition: transform 0.3s;
	color: white;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	outline: 0;
}

#primary:focus,
#primary	:focus-within {
	transform: translateY(0%);
	outline: 0;
}

.logo a:focus {
	background: #e77e23;
}

.menu-item-has-children a:focus {
	&::after {
		position: absolute;
		content: '';
		width: 0px;
		height: 0px;
		left: 50%;
		bottom: -8px;
		border-style: solid;
		border-width: 8px 6px 0 6px;
		border-color: black transparent transparent transparent;
		transform: translateX(-50%);
	}
} 


