/*********************
GENERAL STYLES
*********************/
html {
    overflow-x: hidden;
    box-sizing: border-box;
    /* magic... */

    --flow-small: 10px;
    --flow-medium: 20px;
    --flow-big: 30px;
    --bottom-row-height: 70px;
   
}

body {
    margin: 0;
    font-family: var(--font-sans);
    background-color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //line-height: 1;
    position: relative;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


.hidden {
    color: transparent;
    visibility: hidden;
    height: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    text-rendering: optimizelegibility;
    font-weight: normal;
    font-family: var(--font-sans);
    margin: 0 0 0.3em;

    /* removing text decoration from all headline links */
    a {
        text-decoration: none;
    }
}

p.site-title{
    margin: 0;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
    width: 90%;
    margin: 0 auto;
}


:root {
    --pink: #f4b3c2;
    --green: #a7c81f;
    --black: #111;
     --shadow-color: var(--black);
}

.background{
    position: fixed;
   // display: none;
    width: 100%;
    height: 100vh;
    z-index: 0;
    #svg-top{
        display: block;
            width: 100vw;
            height: 100vh;
    }

          #form{
              fill: var(--green);
              transition: fill 0.2s ease;
            
                filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, .15));
          }

}

body {
    color: var(--black);
    background: var(--pink);
}

#main, .date-location{
    z-index: 2;
    position: relative;
    pointer-events: none;
}

header {

    pointer-events: none;
    position: relative;
    width: 90vw;
    margin: 0 auto;
    aspect-ratio: 970 / 580;
    max-width: 800px;
    p{
        padding-top: 10px;
        text-align: center;
    }
}
.logo-image{
    height: 100%;
    width: 100%;
    background: url(../images/PHF-LOGO.png) center 0 / contain no-repeat;
}


.date-location {
width: 92vw;
background: var(--green);
transform: translateX(-3vw);
display: flex;
margin-top: 10px;
padding: 20px 5% 10px;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid var(--pink);
    border: 2px solid black;
    box-shadow:
        1px 1px var(--shadow-color), 
        2px 2px var(--shadow-color), 
        3px 3px var(--shadow-color), 
        4px 4px var(--shadow-color), 
        5px 5px 0px 0px var(--shadow-color),;
    .date-time{
    //transform: rotate(90deg) translateY(250%);
    transform-origin: center top;
    font-size: 18px;
    float: left;
    font-family: var(--font-bold);
    }
    .location{
        float: left;
        position: relative;
        margin-left: 10px;
        a{
            pointer-events: initial;
        }
        p{
            font-weight: 600;
            display: none;
        }

    }
   
}   

section {
    padding: 1rem 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.lineup{
    &>div{
        //background: red;
        margin-top: 40px;
        text-align: center;
    }
    .vert-counterclock{
        display: inline-block;
        transform: rotate(180deg);
        transition: all 0.2s var(--ease);
        pointer-events: initial;
        border: 01px solid black;
        padding: 4px 6px 2px;
        margin: 0 0 10px;
            background-color: var(--pink);
            box-shadow:
                -1px -1px var(--shadow-color),
                -2px -2px var(--shadow-color),
                -3px -3px 0px 0px var(--shadow-color);
        &:hover{
            transform: rotate(0deg);
            box-shadow:
                    1px 1px var(--shadow-color),
                    2px 2px var(--shadow-color),
                    3px 3px 0px 0px var(--shadow-color);
        }
    }

    .headliner ul{
        font-size: 40px;
        font-weight: 600;
    }

    .contest{
        ul{
            font-size: 20px;
            font-weight: 600;
        }
    }
    .moderation{
        p{
            margin-top: 0;
            font-size: 20px;
            font-weight: 600;
        }
    }
}

.lineup h2,
.awards h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.lineup ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.lineup strong {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
}

.contest {
    margin-top: 2rem;
    font-size: 0.95rem;
}

.free-entry {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin: 2rem auto;
    font-family: var(--moxa);
   
    div{
        padding: 10px 40px 0;
        border: 2px solid black;
        background-color: var(--pink);
        box-shadow:
            1px 1px var(--shadow-color),
            2px 2px var(--shadow-color),
            3px 3px var(--shadow-color),
            4px 4px var(--shadow-color),
            5px 5px 0px 0px var(--shadow-color), ;
    }

}

.awards {
    text-align: center;
 
    h2{
        font-family: var(--moxa);
        font-size: 2rem;
    }
}

.awards img {
    width: 250px;
    max-width: 60%;
    margin: 1.5rem 0;
    pointer-events: initial;
    transform: rotate(0deg);
    transition: all 2s ease-in-out;

    &:hover{
    transform: rotate(360deg);
    }
}

footer {
    //background: var(--green);
    padding: 1.5rem 2rem 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem; 
    z-index: 3;
    position: relative;
    gap: 1rem;

    .imprint-link{
        order: 2;
        color: black;
        background: var(--green);
        padding: 3px;
    }

div{
    order: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

    img{
        margin-top: 10px;
        width: 100%;

    }
}

#imprint-box{
    width: 100%;
        order: 2;
        max-height: 0;
        background-color: var(--pink);
        color: #fff;
        /* hidden by default */
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        color: black;
        border: 2px solid black;
        background-color: var(--pink);
        box-shadow:
            1px 1px var(--shadow-color),
            2px 2px var(--shadow-color),
            3px 3px var(--shadow-color),
            4px 4px var(--shadow-color),
            5px 5px 0px 0px var(--shadow-color), ;
        opacity: 0;
 
            overflow: hidden;
            transition: all 0.3s ease;
}

#imprint-box.show {
    opacity: 1;
    max-height: 500px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}