/*********************
GENERAL STYLES
*********************/
html {
    overflow-x: hidden;
    box-sizing: border-box;
    /* magic... */

    --flow-small: 10px;
    --flow-medium: 20px;
    --flow-big: 30px;
    --bottom-row-height: 70px;
}

body {
    margin: 0;
    font-family: var(--font-sans);
    background-color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //line-height: 1;
    position: relative;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


.hidden {
    color: transparent;
    visibility: hidden;
    height: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    text-rendering: optimizelegibility;
    font-weight: normal;
    font-family: var(--font-sans);
    margin: 0 0 0.3em;

    /* removing text decoration from all headline links */
    a {
        text-decoration: none;
    }
}

p.site-title{
    margin: 0;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
    width: 90%;
    margin: 0 auto;
}
