@font-face {
    font-family: 'NewEdge-Light';

    src: url('../fonts/NewEdge666-LightRounded.woff') format('woff'),
        url('../fonts/NewEdge666-LightRounded.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'NewEdge-Regular';
    src: url('../fonts/NewEdge666-RegularRounded.woff') format('woff'),
        url('../fonts/NewEdge666-RegularRounded.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Moxa';
    src: url('../fonts/Moxa-Bestine.woff') format('woff'),
        url('../fonts/Moxa-Bestine.woff2') format('woff2');
    font-style: normal;
}

html {
	// FONTSTACKS
	--font-sans: "NewEdge-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-bold: "NewEdge-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --moxa: "Moxa", "Helvetica Neue", Helvetica, Arial, sans-serif;
}